<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PHP-VUE DISCHI</title>

    <!-- VUE JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>

    <!-- BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />

    <!-- STYLE -->
    <link rel="stylesheet" href="../css/style.css" />

    <!-- AXIOS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
      integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <div id="root">
      <!-- HEADER -->
      <header>
        <div class="container">
          <div class="row">
            <div class="col">
              <!-- Header Content Area -->
              <div class="d-flex align-items-center justify-content-between">
                <figure class="m-0">
                  <img src="../images/logo.svg" alt="logo" />
                </figure>
                <form @submit.prevent="fetchMovies" class="text-white d-flex align-items-center justify-content-center">
                  <label for="search" class="me-2">
                    <input type="text" id="search" placeholder="Search an album..." v-model="search" required />
                  </label>
                  <button type="submit">Search!</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- MAIN -->
      <main>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="d-flex flex-wrap">
                <div v-for="movie in movies" class="card">
                  <figure class="m-0 mb-2 h-50">
                    <img :src="movie.poster" :alt="movie.title" />
                  </figure>
                  <div class="h-50 text-center d-flex flex-column justify-content-between">
                    <h2 class="mb-3 text-white">{{movie.title}}</h2>
                    <div>
                      <p class="color-gray">{{movie.author}}</p>
                      <p class="color-gray">{{movie.year}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="script.js"></script>
  </body>
</html>
